.container {
	padding: 2% 5%;
}

.active {
	padding-bottom: 0.2em;
	border-bottom: 2px solid $black;
}

.active_drop {
	opacity: 1 !important;
}

.close_menu {
	left: -70em !important;
	transition: 0.5s;
}

.flex-col {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.flex-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

@include laptop {
	.active {
		padding-bottom: 0.2em;
		border-bottom: 2px solid $white;
	}
}
