//
// COLORS ---------
//

:root {
	--nav-bg: #f9f9f9;
	--nav-bg-scrolled: #fff;
	--nav-bg-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
}

$background-color: #f9f9f9;
$background-color-01: #f1f1f1;
$background-color-02: #f2f2f2;

// Paragraphs
$paragraph-color: #b0b0b0; // base

// Heading
$heading-color: #1a1a1a;

// Border
$border-color: #e1e1e1;
$border-color-focus: #c5c5c5;

// General
$white: #fff;
$black: #000;
$off-black: #303030;
$off-white: #f0f0f0;
$red: #ff5630;
$green: #00ab55;
$yellow: rgb(228, 165, 31);
$gray-01: #3a3a3a;
$gray-10: #818181;
$gray-20: #666464;

// Buttons
$button-color: #101010;
$button-hover: lighten($button-color, 10%);

// Social
$color-facebook: #0078ff;
$color-facebook-hover: darken($color-facebook, 5%);
$color-github: #24292e;
$color-github-hover: lighten($color-github, 5%);

$color-success: #000;
