.section {
	.feature_section {
		&_title {
			margin: 0 auto;
			border-top: 2px solid $green;
			max-width: 140px;
			margin-bottom: 3em;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-align: center;
			padding-top: 0.5em;
		}
	}

	.featured__container {
		// row-gap: 2.5rem;
		padding: 0 2.5em;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		align-items: flex-start;
		gap: 1.5rem;
	}

	.featured {
		&__card {
			position: relative;
			text-align: center;
			z-index: 1;
			background-color: var(--container-color);
			padding-top: 2rem;
			border: 1px solid var(--border-color);
			overflow-y: hidden;
			transition: 0.3s;
		}

		text-transform: uppercase;
		font-size: var(--small-font-size);
		font-weight: var(--font-medium);
		position: absolute;
		transform: rotate(-90deg);
		left: -1rem;
		top: 3rem;
		&__tag {
			position: absolute;
			top: 50px;
			left: 0;
			transform: rotate(-90deg);
			font-weight: 500;
			background-color: var(--first-color);
			padding: 0.5rem 1rem;
			color: #fff;
		}
		&__img {
			height: 214px;
			margin-bottom: var(--mb-1);
		}

		&__title,
		&__price {
			font-size: var(--h3-font-size);
			font-weight: var(--font-bold);
		}

		&__title {
			text-transform: uppercase;
			margin-bottom: var(--mb-0-75);
		}

		&__price {
			display: block;
			color: var(--first-color);
			transition: 0.3s;
		}
		&__button {
			font-size: var(--small-font-size);
			transform: translateY(1rem);
			opacity: 0;
		}
		&__card:hover {
			box-shadow: rgba(57, 57, 58, 0.2) 0px 5px 5px -3px, rgba(48, 49, 49, 0.14) 0px 8px 10px 1px,
				rgba(72, 73, 73, 0.12) 0px 3px 14px 2px;
		}

		&__card:hover &__button {
			transform: translateY(0);
			opacity: 1;
		}

		&__card:hover &__price {
			margin-bottom: var(--mb-1-5);
		}
	}
}

@include tablet {
	.featured__container {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@include mobile {
	.featured__container {
		padding: 0 2.5em;
		grid-template-columns: 1fr !important;
	}
}
