.inner {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $white;
	box-shadow: rgba(212, 215, 219, 0.2) 0px 5px 5px -3px, rgba(214, 217, 219, 0.14) 0px 8px 10px 1px,
		rgba(233, 235, 238, 0.12) 0px 3px 14px 2px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	h1 {
		font-weight: 800;
		font-size: 1.5em;
		line-height: 1.8125em;
		cursor: pointer;
	}
}

.nav {
	display: flex;
	gap: 7.5em;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;
	line-height: 1.1875em;

	&_list {
		display: flex;
		gap: 2.3125em;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.toggle_close {
	display: none;
}

.toggle {
	display: flex;
	gap: 1.7em;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	&_icon {
		font-size: 18px;
		padding: 0.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.5s;
		cursor: pointer;
		border-radius: 100%;
	}

	&_photo {
		padding: 0 !important;
	}

	.user_icon {
		border: 1px solid $black;
		border-radius: 100%;
		padding: 0.5em;
		width: 24px;
		height: 24px;
	}

	&_active {
		display: none;
	}

	&_icon:hover,
	&_icon:hover a {
		background-color: $black;
		color: $white !important;
	}

	&_customer {
		position: relative;

		&_drop {
			box-shadow: rgb(145 158 171 / 20%) 0px 5px 5px -3px, rgb(145 158 171 / 14%) 0px 8px 10px 1px,
				rgb(145 158 171 / 12%) 0px 3px 14px 2px;
			position: absolute;
			left: -145px;
			border-radius: 5px;
			background: $white;
			margin-top: 1em;
			opacity: 0;
			transition: 0.3s;

			&_content {
				display: flex;
				flex-direction: column;
				padding: 0.5em;
				p {
					text-transform: capitalize;
					line-height: 1.57143;
					font-size: 0.875rem;
					cursor: pointer;
					transition: 0.2s;
					padding: 6px 16px;
					border-radius: 4px;
				}

				p:first-child {
					text-transform: lowercase;
					margin: 0px;
					line-height: 1.57143;
					font-size: 0.875rem;
					font-weight: 400;
					overflow: hidden;
					text-overflow: ellipsis;
					color: rgb(99, 115, 129);
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					border-bottom: 1px dashed;
					padding-bottom: 1em;
					margin-bottom: 0.5em;
				}
				p:nth-child(2):hover,
				p:nth-child(3):hover,
				p:nth-child(4):hover,
				p:nth-child(5):hover,
				p:nth-child(6):hover {
					background-color: rgba(145, 158, 171, 0.08);
				}
			}
		}
	}
}

@include tablet {
	.header {
		gap: 3.5em;
	}

	.nav_list {
		position: absolute;
		top: 0;
		left: -100em;
		transition: 0.5s;
		width: 100%;
		height: 100vh;
		background-color: $black;
		display: flex;
		flex-direction: column;
		justify-content: center;

		a {
			color: $white !important;
		}

		.toggle_close {
			position: absolute;
			top: 1em;
			right: 1em;
			display: block;
			color: $white;
			font-size: 1.5em;
			cursor: pointer;
		}
	}

	.toggle {
		&_icon {
			display: none;
		}
		&_active {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}
