.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	h1 {
		font-weight: 800;
		font-size: 1.5em;
		line-height: 1.8125em;
		cursor: pointer;
	}
}

.nav {
	display: flex;
	gap: 7.5em;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;
	line-height: 1.1875em;

	&_list {
		display: flex;
		gap: 2.3125em;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.toggle_close {
	display: none;
}

.toggle {
	display: flex;
	gap: 1.7em;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	&_icon {
		font-size: 18px;
		padding: 0.5em;
		display: flex;
		align-items: center;
		border: 1px solid none;
		justify-content: center;
		transition: 0.5s;
		cursor: pointer;
	}

	.user_icon {
		border: 1px solid $black;
		border-radius: 100%;
		padding: 0.5em;
		width: 24px;
		height: 24px;
	}

	&_active {
		display: none;
	}

	&_icon:hover,
	&_icon:hover a {
		background-color: $black;
		color: $white !important;
	}

	&_customer {
		position: relative;

		&_drop {
			position: absolute;
			left: -200px;
			border-radius: 5px;
			background: $white;
			margin-top: 1em;
			opacity: 0;
			transition: 0.3s;

			&_content {
				display: flex;
				flex-direction: column;
				padding: 25px 20px;

				p {
					text-transform: capitalize;
					cursor: pointer;
					padding: 1em;
					transition: 0.5s;
					border-radius: 4px;
					gap: 0.5em;
					margin: 0.5em 0;
				}

				p:first-child {
					color: $gray-20;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					border-bottom: 1px dotted;
					padding-bottom: 1em;
				}

				p:hover {
					background-color: $gray-20;
					color: $white;
				}
			}
		}
	}
}

@include laptop {
	.header {
		gap: 3.5em;
	}

	.nav_list {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transition: 0.5s;
		width: 100%;
		height: 100vh;
		background-color: $black;
		display: flex;
		flex-direction: column;
		justify-content: center;

		a {
			color: $white !important;
		}

		.toggle_close {
			position: absolute;
			top: 1em;
			right: 1em;
			display: block;
			color: $white;
			font-size: 1.5em;
			cursor: pointer;
		}
	}

	.toggle {
		&_icon {
			display: none;
		}
		&_active {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}
