body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 1349px;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
	--primary-text: rgb(33, 43, 54);
	--bg-fucus: rgba(145, 158, 171, 0.12);
	--bg: rgb(249, 250, 251);
}

body {
	background-color: var(--bg);
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

.inner {
	align-items: center;
}

/* NAV_BAR */

.inner {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.inner-side {
	width: 25%;
}
.inner-bar {
	border-right: 1px dashed rgba(145, 158, 171, 0.24);
	height: 100vh;
}

.inner-bar-logo {
	font-size: 24px;
	padding: 14px 20px;
}

.inner-content {
	width: 85%;
}

main {
	margin: 0 2em;
}

.inner-bar-status {
	cursor: pointer;
	min-width: 239px;
	max-width: 239px;
	padding: 10px 0;
	margin: 0 auto;
	border-radius: 9px;
	background-color: var(--bg-fucus);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.inner-bar-status-pic {
	width: 40px;
	margin-left: 20px;
	height: 40px;
	border-radius: 50%;
}

.inner-bar-status-name {
	margin: 0;
	margin-left: 16px;
	font-weight: 600;
	line-height: 1.57143;
	font-size: 0.875rem;
	color: var(--primary-text);
}

.inner-bar-touch {
	margin-top: 40px;
}

.inner-bar-item {
	padding: 1px 1em;
	margin: 0.2em 0.5em;
	border-radius: 6px;
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.inner-bar-item:hover {
	transition: 0.5s;
	background-color: rgba(145, 158, 171, 0.08) !important;
}

.active .inner-bar-link {
	color: rgb(33, 43, 54) !important;
}

.inner-bar-link {
	color: rgb(99, 115, 129);
	font-weight: 700;
	line-height: 1.57143;
	font-size: 0.875rem;
	font-family: "Public Sans", sans-serif;
	text-transform: capitalize;
}

/* CONTENT_NAV_HEADER */
.inner-content-bar {
	display: none;
}

.inner-content-header {
	margin: 2em 0;
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
}

.inner-section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inner-section-header-btn {
	box-shadow: rgb(32 101 209 / 24%) 0px 8px 16px 0px !important;
	color: rgb(255, 255, 255) !important;
	font-weight: 700 !important;
	line-height: 1.71429 !important;
	font-size: 0.875rem !important;
	text-transform: capitalize !important;
	font-family: "Public Sans", sans-serif !important;
	min-width: 64px !important;
	padding: 6px 16px !important;
	border-radius: 6px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.container-bg {
	background-image: url("https://thumbs.dreamstime.com/b/papel-de-parede-geom%C3%A9trico-cartaz-na-modelo-p%C3%A1gina-inicial-ui-ux-livro-cobertura-banner-m%C3%ADdia-social-trendy-forma-composi%C3%A7%C3%A3o-157627612.jpg");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}

.login-section {
	max-width: 450px;
	min-width: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-section img {
	max-width: 450px;
	min-width: 350px;
	object-fit: cover;
}

.login-section > .css-9vfzmq:hover {
	border: none !important;
}

/* PRODUCTS */

.inner-section-product-list {
	margin-top: 2em;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(4, 1fr);
}

.inner-section-product-item {
	background: #fff;
	padding: 0.5em;
	border-radius: 9px;
}
.inner-section-product-item img {
	height: 250px;
	object-fit: contain;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.inner-section-product-item p {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5em;
}

.inner-section-header-product .css-14lo706 {
	display: none !important;
}

.filter-btn,
.font-semibold {
	padding: 0 !important;
	margin: 0 !important;
}

.clearfix {
	overflow-y: auto;
}

.upload-img {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	height: 250px;
	width: 250px;
	object-fit: contain;
}

.image-item__btn-wrapper {
	text-align: center;
}

/* CUSTOMER */
.inner-section-header-search-customer {
	display: flex;
	margin-bottom: 1em;
	justify-content: space-between;
}

/* ANALYTICS */

.inner-section-analytic-count {
	display: flex;
	gap: 1em;
	justify-content: space-around;
	flex-wrap: wrap;
}
.inner-section-analytic-count-item {
	overflow: hidden;
	height: 182px;
	min-width: 300px;
	border-radius: 9px;
	position: relative;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: none;
	background-image: none;
	border-radius: 12px;
	border: none rgba(144, 202, 249, 0.145);
	overflow: hidden;
	position: relative;
	color: #fff;
	line-height: 1.334em;
	font-size: 34px;
	font-weight: 500;
}

.inner-section-analytic-count-item .cost,
.inner-section-analytic-count-item .title {
	margin-left: 1em;
	margin-bottom: 0;
	position: inherit;
	z-index: 1;
}

.inner-section-analytic-count-item .cost {
	margin-top: 2em;
}
.inner-section-analytic-count-item .title {
	margin-left: 2.2em;
	line-height: 1.334em;
	font-family: Roboto, sans-serif;
	color: rgb(179, 157, 219);
	font-size: 1rem;
	font-weight: 500;
}

.inner-section-analytic-count-item:nth-child(1) {
	background-color: rgb(94, 53, 177);
}

.inner-section-analytic-count-item:nth-child(2) {
	background-color: rgb(30, 136, 229);
}

.inner-section-analytic-count-item:nth-child(3) {
	background-color: rgb(255, 255, 255);
	color: #000;
}

.inner-section-analytic-count-item:nth-child(3) .title {
	color: rgb(105, 117, 134);
}

.inner-section-analytic-count-item > .circle {
	position: absolute;
	width: 210px;
	height: 210px;
	background: rgb(69, 39, 160);
	border-radius: 100%;
	top: -85px;
	right: -95px;
}

.inner-section-analytic-count-item > .circle_2 {
	position: absolute;
	width: 210px;
	height: 210px;
	background: rgb(69, 39, 160);
	border-radius: 50%;
	top: -125px;
	right: -15px;
	opacity: 0.5;
}

.inner-section-analytic-count-item:nth-child(3) > .circle {
	position: absolute;
	width: 210px;
	height: 210px;
	background: linear-gradient(210.04deg, rgb(255, 193, 7) -50.94%, rgba(144, 202, 249, 0) 83.49%);
	border-radius: 100%;
	top: -85px;
	right: -95px;
}

.inner-section-analytic-count-item:nth-child(3) > .circle_2 {
	position: absolute;
	width: 210px;
	height: 210px;
	background: linear-gradient(140.9deg, rgb(255, 193, 7) -14.02%, rgba(144, 202, 249, 0) 70.5%);
	border-radius: 50%;
	top: -125px;
	right: -15px;
	opacity: 0.5;
}

@media only screen and (max-width: 1024px) {
	.inner-content-header {
		justify-content: space-between;
	}
	.inner-content-bar {
		display: block;
	}

	.inner-side {
		display: none;
	}

	.inner-section-product-list {
		grid-template-columns: repeat(3, 1fr) !important;
	}
}

.upload__image-wrapper-center {
	text-align: center;
	margin: 2em 0;
}
@media only screen and (max-width: 700px) {
	.inner-content-header {
		justify-content: space-between;
	}
	.inner-content-bar {
		display: block;
	}

	.inner-side {
		display: none;
	}

	.inner-section-product-list {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

.inner-section-analytic-timer {
	display: flex;
	gap: 2em;
	margin-left: 0.5em;
	margin-top: 2em;
	align-items: center;
}

.inner-section-analytic-timer-data {
	margin-top: 2em;
	max-width: 1000px;
	height: 300px;
}

@media only screen and (max-width: 450px) {
	.inner-content-header {
		justify-content: space-between;
	}
	.inner-content-bar {
		display: block;
	}

	.inner-side {
		display: none;
	}

	.inner-section-product-list {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}
